<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">
<body>
	<section class="row" layout:fragment="content">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">List Category</div>
				<div class="card-body">
					<!-- Hiển thị thông báo -->
					<div th:if="${message != null}" class="alert alert-primary"
						role="alert">
						<div th:text="${message}"></div>
					</div>

					<!-- Hết thông báo -->
					<div class="row mt-2 mb-2">
						<div class="col-md-6">
							<form th:action="@{/admin/categories/searchpaginated}">
								<div class="input-group">
									<input type="text" class="form-control ml-2" name="name"
										id="name" placeholder="Nhập từ khóa để tìm" />
									<button class="btn btn-outline-primary ml-2">Search</button>
								</div>
							</form>
						</div>

						<div class="col-md-6">
							<div class="float-right">
								<a class="btn btn-outline-success"
									th:href="@{/admin/categories/add}">Add New Category</a>
							</div>
						</div>
					</div>

					<div class="row" th:if="${!categoryPage.hasContent()}">
						<div class="col-12">
							<div class="alert alert-danger" role="alert">No Category
								Found</div>
						</div>
					</div>

					<table th:if="${categoryPage.hasContent()}"
						class="table table-striped table-inverse table-responsive">
						<thead class="thead-inverse">
							<tr>
								<th>Category ID</th>
								<th>Category Name</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c, iStat : ${categoryPage.content}">
								<td scope="row">[[${c.categoryId}]]</td>
								<td>[[${c.name}]]</td>
								<td><a
									th:href="@{/admin/categories/view/{id}(id=${c.categoryId})}"
									class="btn btn-outline-info"> <i class="fa fa-info"></i>
								</a> <a th:href="@{/admin/categories/edit/{id}(id=${c.categoryId})}"
									class="btn btn-outline-warning"> <i class="fa fa-edit"></i>
								</a> <a href="javascript:void(0)" th:data-id="${c.categoryId}"
									th:data-name="${c.name}"
									onclick="showConfirmation(this.getAttribute('data-id'),
                                              this.getAttribute('data-name'))"
									class="btn btn-outline-danger"> <i class="fa fa-trash"></i>
								</a></td>
							</tr>
						</tbody>
					</table>

					<!-- Script xác nhận xóa -->
					<script type="text/javascript">
						function showConfirmation(id, name) {
							document.getElementById('confirmationText').innerText = "Bạn có chắc chắn muốn xóa category: "
									+ name + " ?";
							document.getElementById('deleteBtn').setAttribute(
									'href', '/admin/categories/delete/' + id);
							$('#confirmationModal').modal('show');
						}
					</script>

					<!-- Modal xác nhận -->
					<div class="modal fade" id="confirmationModal" tabindex="-1"
						role="dialog" aria-labelledby="confirmationModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<span id="confirmationText">Are you sure?</span>
								</div>
								<div class="modal-footer">
									<a id="deleteBtn" class="btn btn-primary">Yes</a>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>
</body>
</html>
